.main-card {
  display: flex;
  margin: auto;
  margin-top: 50px;
  width: 30vw;
  background-color: antiquewhite;
  padding: 30px;
  font-size: 1.5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  width: 30%;
}
button {
  width: 100px;
  padding: 5px;
  font-size: 0.8em;
}
